html, body {
    font: 13px Arial
}

h1 {
    text-align: center
}

@media screen and (min-width: 768px) {
    body {
        --tile-width: 70px;
        --tile-spacing: 7px;
        --tile-font: 32px;
        *border-collapse: expression('separate', cellSpacing = '7px');
    }    
}
@media screen and (max-width: 767px) {
    body {
        --tile-width: 70px;
        --tile-spacing: 7px;
        --tile-font: 32px;
        *border-collapse: expression('separate', cellSpacing = '7px');
    }
}

table {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0px auto;
    background-color: #FFE7A5;
    border-collapse: separate;
    border-spacing: var(--tile-spacing);
    padding: 0;
    border: solid 1px #aaa;
    font-size: var(--tile-font);
}

table td {
    width: var(--tile-width);
    height: var(--tile-width);
    padding: ;
    margin: 0;
    top: 0;
    z-index: 0;
    vertical-align: top
}

table td a {
    position: absolute;
    width: var(--tile-width);
    height: var(--tile-width);
    line-height: var(--tile-width);
    display: block;
    text-decoration: none;
    padding: 0;
    color: #fff;
    text-align: center;
    z-index: 1000
}

.odd {
    background-color: green;
}

.even {
    background-color: red;
}

.info {
    width: 300;
    margin: 15px auto 0 auto;
    border: solid 1px #ccc;
    overflow: hidden;
    padding: 5px;
    height: 25px;
    line-height: 25px
}

.info strong {
    color: red
}

.info div {
    float: left;
    font-size: 18px;
}

.info button {
    float: right;
    display: block;
    height: 25px;
    line-height: 12px
}